.page-cashier {
    .cashier-page {
        padding-top: 100px;

        @media (max-width: 767.98px) {
            padding-top: 60px;
        }
    }
}

.is-collapsed {
    .cashier-page__list-tables .list-tables {
        grid-template-columns: repeat(2, minmax(0, 1fr)) !important;
        gap: 8px !important;
    }

    .label-table {
        font-size: 13px !important;
    }
}

.cashier-page {
    min-height: 100vh;
    padding-bottom: 30px;

    .product-item {
        padding: 5px 0 10px 0;

        h3.font-medium {
            font-size: 14px;
        }

        &__note,
        .btn-note {
            display: none !important;
        }

        &__actions {
            margin: 0;
            justify-content: end !important;
        }

        &__quantity {
            span {
                padding: 0 16px;
                font-size: 14px;
            }

            button {
                width: 22px;
                height: 22px;

                &.btn-plus {
                    background: $color-primary;
                }
            }
        }
    }

    .btn-print {
        svg {
            path {
                stroke: $color-bg-dark;
            }
        }
    }

    .btn-confirm svg path {
        stroke: var(--color-gray-400);
    }

    &__list-tables {
        background: transparent;
        padding: 0;
        border-radius: 0;
        box-shadow: none;
        border: none;


        .list-tables {
            grid-template-columns: repeat(6, minmax(0, 1fr));

            @media (max-width: 1199.98px) {
                grid-template-columns: repeat(5, minmax(0, 1fr));
            }

            @media (max-width: 1023.98px) {
                grid-template-columns: repeat(4, minmax(0, 1fr));
            }

            @media (max-width: 767.98px) {
                grid-template-columns: repeat(3, minmax(0, 1fr));
            }

            @media (max-width: 575.98px) {
                grid-template-columns: repeat(2, minmax(0, 1fr));
            }
        }

        >div {
            >div {
                padding: 0;

                &:first-child {
                    display: none;
                }
            }
        }
    }
}