.page-kitchen {
    .list-tables {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }
}

.md-management-page {
    padding-top: 160px;

    &.page-bill {
        padding-top: 45px;

        >div:first-child {
            top: 10px;
        }
    }

    >div {
        &:first-child {
            position: fixed;
            left: 0;
            top: 0;
            width: 100%;
            z-index: 39;
            top: 100px;

            @media (max-width: 767.98px) {
                top: 70px;
            }
        }
    }

    .item-info {
        svg {
            width: 100%;
            max-width: 20px;
            height: auto;

            @media (max-width: 399.98px) {
                max-width: 18px;
            }

            path {
                stroke: $color-primary;
            }
        }
    }
}

.list-tables {
    .is-busy {
        background-color: $color-blue-light;
        color: #fff;
    }

    .is-new-order {
        animation: blink-bounce 1.5s infinite ease-in-out;
    }
}

@keyframes blink-bounce {
    0% {
        opacity: 1;
        transform: translateY(0);
    }
    50% {
        opacity: 0.6;
        transform: translateY(-5px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}