.mdt-order-page {
    &__sidebar {
        .item-category {
            line-height: 1.2;
            font-weight: 500;
            background: transparent;
            color: $color-text;
            transition: $transition-base;
            border-bottom: 1px solid #f3f4f6;

            .category-icon {
                svg {
                    width: 28px;
                    height: 28px;
                    stroke: #9ca3af;
                    transition: $transition-base;

                    @media (max-width: 767.98px) {
                        width: 22px;
                        height: 22px;
                    }
                }
            }

            .category-name {
                display: block;
                margin-top: 4px;
            }

            &.is-active {
                background: #fff;
                color: $color-second;
                position: relative;

                &::after {
                    content: '';
                    position: absolute;
                    left: 0;
                    top: 0;
                    bottom: 0;
                    width: 4px;
                    background: $color-second;
                }

                .category-icon {
                    svg {
                        stroke: $color-second;
                    }
                }
            }
        }
    }


    .list-products {
        .product-item {
            background: $color-blue-gray;
            // height: 100%;

            h3 {
                color: #fff;
                font-size: 14px;
                font-weight: 700;
                text-transform: uppercase;

                @media (max-width: 767.98px) {
                    font-size: 12px;
                }

                @media (max-width: 389.98px) {
                    font-size: 11px;
                }
            }
        }
    }

    .product-category-section {
        &__header {
            transition: $transition-base;

            &::before {
                content: "";
                position: absolute;
                left: 0;
                right: 0;
                top: 50%;
                height: 1px;
                background: linear-gradient(90deg,
                        rgba($color-second, 0) 0%,
                        $color-second 30%,
                        $color-second 70%,
                        rgba($color-second, 0) 100%);
                transform: translateY(-50%);
                z-index: -1;
            }
        }

        h2 {
            display: inline-block;
            background-color: $color-bg-light;
            padding: 0 15px;
            margin: 0 auto;
            font-size: 16px;
            font-weight: 600;
            color: $color-second;
            text-transform: uppercase;
            letter-spacing: 0.05em;

            @media (max-width: 767.98px) {
                font-size: 13px;
                padding: 0 10px;
            }
        }
    }
}