.md-staff-order-page {
    padding-top: 160px;

    >div {
        &:first-child {
            position: fixed;
            left: 0;
            top: 0;
            width: 100%;
            z-index: 40;
            top: 100px;

            @media (max-width: 767.98px) {
                top: 70px;
            }
        }
    }

    .item-info {
        svg {
            width: 100%;
            max-width: 20px;
            height: auto;

            @media (max-width: 399.98px) {
                max-width: 18px;
            }

            path {
                stroke: $color-primary;
            }
        }
    }

    .list-tables {
        .is-busy {
            background-color: $color-second;
            color: #fff;
        }
    }
}