html {
    scroll-behavior: smooth;
}

html,
body {
    font-size: 18px;
    line-height: 1.5;
    font-weight: 400;
    font-family: $font-primary;
    color: $color-text;
    background: $color-bg-light;
}

:root {
    @media (max-width: 399.98px) {
        --text-sm: 14px;
    }
}

main {
    background: $color-bg-light;
}

.mdt-bg-light {
    background: $color-bg-light;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    font-family: $font-second;
    font-weight: 700;
    line-height: 1.2;
    color: $color-text;
}

h1,
.h1 {
    font-size: 48px;
}

h2,
.h2 {
    font-size: 40px;
}

h3,
.h3 {
    font-size: 32px;

    @media (max-width: 1023.98px) {
        font-size: 24px;
    }

    @media (max-width: 767.98px) {
        font-size: 20px;
    }
}

h4,
.h4 {
    font-size: 24px;

    @media (max-width: 1023.98px) {
        font-size: 20px;
    }

    @media (max-width: 767.98px) {
        font-size: 18px;
    }
}

h5,
.h5 {
    font-size: 20px;

    @media (max-width: 1023.98px) {
        font-size: 18px;
    }

    @media (max-width: 767.98px) {
        font-size: 16px;
    }

    @media (max-width: 399.98px) {
        font-size: 14px;
    }
}

h6,
.h6 {
    font-size: 16px;

    @media (max-width: 767.98px) {
        font-size: 14px;
    }

    @media (max-width: 399.98px) {
        font-size: 12px;
    }
}

.mdt-btn-back {
    svg {
        width: 100%;
        height: auto;
        max-width: 20px;

        @media (max-width: 767.98px) {
            max-width: 17px;
        }
    }
}

.mdt-btn-outline,
.mdt-btn {
    font-size: 14px;
    line-height: 1.5;
    font-weight: 600;
    font-family: $font-primary;
    cursor: pointer;
    transition: $transition-base;
    padding: 12px 24px;
    border-radius: 12px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 3px;
    overflow: hidden;

    @media (max-width: 767.98px) {
        font-size: 12px;
    }

    svg {
        path {
            stroke: #fff;
        }
    }
}

.mdt-btn {
    background: $color-primary;
    color: #fff;
    border: none;

    &:hover {
        background: darken($color-primary, 10%);
    }

    svg {
        path {
            stroke: #fff;
        }
    }
}

.mdt-btn-outline {
    background: #fff;
    border: 1px solid $color-primary;
    color: $color-primary;

    svg {
        path {
            stroke: $color-primary;
        }
    }
}

.mdt-bg-primary {
    background: $color-primary;
}

.mdt-bg-red {
    background: $color-red;
}

.mdt-bg-blue {
    background: $color-blue;
}

.mdt-bg-second {
    background: $color-second;
}

.mdt-bg-green {
    background: $color-green;
}

.mdt-bg-yellow {
    background: $color-yellow;
}

.mdt-text-primary {
    color: $color-primary;
}

.mdt-text-blue {
    color: $color-blue;
}

.mdt-border-red {
    border-color: $color-red;
}

.mdt-border-yellow {
    border-color: $color-yellow;
}

/* Premium Scrollbar Style */
.mdt-scrollbar {
    &::-webkit-scrollbar {
        width: 6px;
        height: 6px;
    }

    &::-webkit-scrollbar-track {
        background: transparent;
    }

    &::-webkit-scrollbar-thumb {
        background: rgba($color-primary, 0.2);
        border-radius: 10px;
        transition: background 0.3s ease;

        &:hover {
            background: rgba($color-primary, 0.4);
        }
    }

    /* Firefox Support */
    scrollbar-width: thin;
    scrollbar-color: rgba($color-primary, 0.2) transparent;
}

.no-scrollbar {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;

    /* Firefox */
    &::-webkit-scrollbar {
        display: none;
        /* Chrome, Safari and Opera */
    }
}