$font-primary: "Roboto", sans-serif;
$font-second: "Montserrat", sans-serif;
$transition-base: all .3s ease-in;
$color-primary: #f97316;
$color-second: #0288ff;
$color-text: #374151;
$color-bg-light: #e4e9ff;
$color-bg-dark: #131921;
$color-blue-gray: #597092;